<div>
<div id="carro" class="products"></div>
</div>
<a href="/views/realTimeProducts/?page=1">Volver a productos</a>


<script src="/socket.io/socket.io.js"></script>

<script src="/js/cart.js"></script>
