<div>
    <div id="carro" class="products"></div>
    <form action="/api/carts/{{id}}/purchase" method="post"><button name="compra" value="comprar">Realizar Compra</button></form,>
</div>
<a href="/views/realTimeProducts/?page=1">Volver a productos</a>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/cart.js"></script>