
    <div>
        <form onsubmit="return addMessage()">
            <input id="mail" placeholder="Correo" required>
            <textarea id="text" placeholder="Mensaje" required></textarea>
            <button type="submit" >Enviar</button>
        </form>
    </div>
    <div id="chat_caja" class="chat_caja"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/chat.js"></script>