<div>
    <h1>LOGIN</h1>
    <a href="/views/register">Registrarse</a>
    <form action="/api/sessions/login" method="post">
        <label for="">Correo: </label>
        <input type="text" name="email" required>
        <label for="">Password: </label>
        <input type="password" name="password" required>
        <input type="submit" value="Enviar">
    </form>
</div>