<div>
    <h1>REINICIO DE CONTRASEÑA</h1>
    <form action="/user/manage/resetPassword/{{token}}" method="post">
        <label for="">Escriba su nueva contraseña:</label>
        <input type="text" name="password" required>
        <input type="submit" value="Enviar">
</div>