<div>
    <h1>¿OLVIDÓ SU CONTRASEÑA?</h1>
    <form action="/user/manage/requestResetPasword" method="post">
        <label for="">Escriba su dirección de correo:</label>
        <input type="text" name="email" required>
        <input type="submit" value="Enviar">
</div>